*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box; 
    text-decoration: none;
  
}

a{
    color: #FFFFFF;
}

li{
    list-style-type: none;
    margin-bottom: 10px;
}

.mar{
    margin: 5px 0 6px 0;
}

.pad1{
    padding: 8px 5px;
}

.navbar{
    height: 70px;
    background-color: #0f1111;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* -------Box1-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */


.nav-logo{
    height: 50px;
    width: 113px;
    background-size: cover;
}

.logo{
    height: 30px;
    width: 103px;
}

.border{
    border: 1.2px solid transparent;
}

.border:hover{
    border: 1.2px solid white;
}

/* -------Box2-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.add-first{
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 22px;
}

.add-second{
    font-size: 0.87rem;   
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* -------Box3-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.nav-search{
    display: flex;
    justify-content:space-evenly; 
    height: 38px;
    width: 850px;
    border-radius: 4px;
    border: none;
}

.search-dropdown{
    height: 40px;
    width: 55px;
    background-color: #E6E6E6;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    height: 38px;
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    height: 40px;
    width: 45px;
    background-color: rgb(234, 181, 66);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.2rem;
}

.nav-search:hover{
    border:2px solid orange;
}

/* -------Box4-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.nav-lang{
    height: 53px;
    width: 69px;
    display: flex;
    align-items: center;
}

.lang{
    height: 10px;
    width: 12px;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 0.9rem;
    margin-right: 4px;
   
}

.flag-icon{
    height: 45px;
    width: 45px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-left:10px;
    font-weight:700px;
}

/* -------Box5&6-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.nav-accounts{
    height: 50px;
    width: 113px;
    border: none;
    background-color: #0f1111;
    color: #FFFFFF;  
}

span{
    font-size: 0.7rem;  
    
}

.acc-second{
    font-size: 0.8rem;
    font-weight: 700;
}

.acc-dropdown{
    background-color: #0f1111;
    border: none;
    color: #FFFFFF;
    margin-left: 0px;
    display: flex;

}

/* -------Box7-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.nav-cart{
    height: 50px;
    width: 59px;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 29px;
}

/* --------------------x------P------------N---------------L--------------x----------------------------------------------x--------------------------------------x- */
/* --------------------x------------A-------------E------------------------x----------------------------------------------x--------------------------------------x- */

.panel{
    height: 39px;
    display: flex;
    background-color: #232f3e;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    font-size: 0.9rem;
}


.panel-shop{
    height: 39px;
    width: 80%;
    display:flex;
    align-items: center;

}

/* -------Box1-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */
 
.pan-ham{
    width: 58px;
    margin-left: 5px;
}

.pan-third{
    font-size: 16px;
    font-weight: 700;
}

.pan-fourth{
    height: 12px;
    width: 23px;
    font-weight: 700;
    font-size: 0.8rem;
}

/* -------Box2-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */


.pan-deals{
    width: 105px;    
    
}

.pan-five{
    width: 95px;
}

/* -------Box3-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.pan-video{
    width: 97px;
   
}

.pan-six{
    height: 28px;
    width: 87px;
}

/* -------Box4-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.pan-gift{
    width: 83px;
   
}

.pan-seven{
    height: 28px;
    width: 73px;
}

/* -------Box5-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.pan-sell{
    width: 43px;
   
}

.pan-eight{
    height: 28px;
    width: 33px;
}

/* -------Box6-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.pan-cust{
    width: 130px;
   
}

.pan-nine{
    height: 28px;
    width: 120px;
}

/* -------Box7-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.pan-reg{
    width: 72px;
 
}

.pan-ten{
    height: 28px;
    width: 62px;

}

/* -------Box8-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.widget{
    width: 15%;
   
}

.pan-eleven{
    font-size: 0.8rem;
    font-weight: 700;
}

/* --------------------x------H------------R-----------------------------x----------------------------------------------x--------------------------------------x- */
/* --------------------x------------E-------------O------------------------x----------------------------------------------x--------------------------------------x- */

.hero-section{
    background-image: url(heroimage1.jpg);
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 0.85rem;
    padding: 10px 14px;
}

.hero-msg{
    background-color: #f5f5f6;
    color: #0f1111;
    height: 40px;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.hero-link{
    color: #2162a1;
}

.hero-link:hover{
    text-decoration: underline;
}

/* --------------------x------C------------N------------E----------T-------x----------------------------------------------x--------------------------------------x- */
/* --------------------x------------O-------------T----------N--------------x----------------------------------------------x--------------------------------------x- */


.content-section{
    height: 1000px;
    width: 100%;
    background-color: #d2f7e0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-content:start;
}

h2{
    color: #0f1111;
    font-size: 1.3rem;
}

.box-i{
    height: 303px;
    width: 296px;
    background-size: cover;
    margin-bottom: 1.2rem;
}


.boxf{
    color: #0C3353;
    font-size: 0.82rem;
}

.Box-in{
    width: 266px;
    height: 54px;
}

/* -------Box1-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.Box1{
    height: 420px;
    width: 23%;
    background-color: #FFFFFF;
    padding: 20px 0 15px;
}

.Box1-c{
    margin-left: 28px;
}

/* -------Box2-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.Box2{
    height: 420px;
    width: 23%;
    background-color: #FFFFFF;
    padding: 20px 0 15px;
}

.Box2-c{
    margin-left: 28px;
}

/* -------Box3-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.Box3{
    height: 420px;
    width: 23%;
    background-color: #FFFFFF;
    padding: 20px 0 15px;
}

.Box3-c{
    margin-left: 28px;
}

/* -------Box4-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.Box4{
    height: 420px;
    width: 23%;
    background-color: #FFFFFF;
    padding: 20px 0 15px;
}

.Box4-c{
    margin-left: 28px;
}
/* -------Box5-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.Box5{
    height: 420px;
    width: 23%;
    background-color: #FFFFFF;
    padding: 20px 0 15px;
    margin-top: 20px;
}

.Box5-c{
    margin-left: 28px;
}

/* -------Box6-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.Box6{
    height: 420px;
    width: 23%;
    background-color: #FFFFFF;
    padding: 20px 0 15px;
    margin-top: 20px;
}

.Box6-c{
    margin-left: 28px;
}

/* -------Box7-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.Box7{
    height: 420px;
    width: 23%;
    background-color: #FFFFFF;
    padding: 20px 0 15px;
    margin-top: 20px;
}

.Box7-c{
    margin-left: 28px;
}

/* -------Box8-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.Box8{
    height: 420px;
    width: 23%;
    background-color: #FFFFFF;
    padding: 20px 0 15px;
    margin-top: 20px;
}

.Box8-c{
    margin-left: 28px;
}

/* --------------------x-----F---------------O----------------E------------x----------------------------------------------x--------------------------------------x- */
/* --------------------x------------O----------------T------------------R-----x----------------------------------------------x--------------------------------------x- */

.nav-footer{
    height: 917px;
    background-color: #232f3e;
    color: #0f1111;
}

/* -------Box1-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.nav-backtotop{
    background-color: #37475a;
    color: #FFFFFF;
    font-size: 0.8rem;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------Box2-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.nav-information{
    height: 268px;
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
}

.info-b{
    color: #FFFFFF;
    font-size: 1rem;
    position: relative;
    left: 2.5rem;
    font-weight: 700;
    margin: 6px 0 14px;
}

.info-a{
    color: #DDDDDD;
    font-size: 0.88rem;
    text-decoration: none;
   
}

/* -------Box3-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */
.nav-dis{
    height: 68px;
    border-top: 0.14px solid #848688;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-logo{
    background-image: url(amazon_logo.png);
    height: 60px;
    width: 110px;
    background-size: cover;
    margin-top: 30px;
}

.nav-bu{
    height: 35px;
    width: 452px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
}

.nav-lang{
    height: 33px;
    width: 131px;
    margin-right: 4px;
    padding: 6px 18px 6px 4px;
    border: 1px solid #848688;
    border-radius: 3px;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navl2{
    color: #cccccc;
}

.navl3{
    background-color: transparent;
    height: 15px;
    width: 12px;

}

.nav-currency{
    height: 34px;
    width: 159px;
    margin-right: 4px;
    padding: 6px 18px 6px 4px;
    border: 1px solid #848688;
    border-radius: 3px;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.nav-country{
    height: 33px;
    width: 131px;
    margin-right: 4px;
    padding: 6px 18px 6px 4px;
    border: 1px solid #848688;
    border-radius: 3px;
    font-size: 0.85rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* -------Box4-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.link-c{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131a22;
    margin-top: 30px;
    height: 354px;
}

.link-c h5{
    color: #DDDDDD;
    font-size: 0.86rem;
    align-self:f
}

.link-c span{
    color: #999999;
    font-size: 0.86rem;
}

.ul1{
    display: flex;
    flex-direction: column;
    align-self: first baseline;
    margin-top: 60px;
    width: 150px;
}

.ul2{
    display: flex;
    flex-direction: column;
    align-self: first baseline;
    margin-top: 60px;
    width: 170px;
}

.ul3{
    display: flex;
    flex-direction: column;
    align-self: first baseline;
    margin-top: 60px;
    width: 150px;
}

.ul4{
    display: flex;
    flex-direction: column;
    align-self: first baseline;
    margin-top: 60px;
    width: 150px;
}

.ul5{
    display: flex;
    flex-direction: column;
    align-self: first baseline;
    margin-top: 60px;
    width: 150px;
}

.ul6{
    display: flex;
    flex-direction: column;
    align-self: first baseline;
    margin-top: 60px;
    width: 150px;
}

.ul7{
    display: flex;
    flex-direction: column;
    align-self: first baseline;
    margin-top: 60px;
    width: 150px;
}

/* -------Box5-------------x------------------------------------------------x----------------------------------------------x--------------------------------------x- */

.nav-last{
    height: 117px;
    background-color: #131a22;
    color: #DDDDDD;
}

.last-one{
    height: 39px;
    font-size: 0.78rem;
    background-color: #131a22;
    color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.la1{
    margin-right: 13px;
}

.la2{
    margin-right: 13px;
}

.la3{
    margin-right: 13px;
}

.la4{
    margin-right: 13px;
}

.last-two{
    height: 18px ;
    font-size: 0.78rem;
    background-color: #131a22;
    color: #DDDDDD;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

