*{
    padding:0px;
    margin:0px;
    color:white;
     text-decoration:none;
     
    
}

body{
    background-color:white
}

#two{
    color:#f08804;
     font-size:25px

}

a{
    margin-right:200px;
}
 
#delta{
    background-color:black;
    height:60px;
    font-size:20px;
    border-radius:8px;
   
}

button{
    background-color: #f08804;
}

#alpha{
    height:100px;
    width:100px;
    background-color:rgba(50,203,220,0.5);
    border-width:4px;
    border-color:rgb(21, 136, 198);
    border-style: solid;
    display:inline-block;
}

#beta{
    height:100px;
    width:100px;
    background-color:rgba(255,249,149,0.5);
    border-color:coral;
    border-style: solid;
    display: inline-block;
    border-width:4px;
}

#gamma{
    height:100px;
    width:100px;
    background-color:rgba(249,4,4,0.5);
    border-color:gold;
    border-style: solid;
    display: inline-block;
    border-width:4px;
}

#content{
    height:600px;
}

footer{
       text-align:center;
       color:blanchedalmond;
       background-color:black;
}



