p{
    color:#003049;
}

BODY {
    background-color:#b28080d6;
}

#box{
     background-color: blue;
}
.heading{
    color:red;
    text-align:center ;
    text-decoration:underline;
}
button{
       background-color:green;
} 
p{
    text-align:center;
}
a{
    text-decoration: none;
}
  