body{
    background-color:black
}



div{
    height:25px;
    width:160px;
    background-color:rgba(59, 88, 10, 0.682);
    transition-property:all;
    border-radius: 10px;
    position:relative;
    top:400px;
    left:700px;
    color: azure;
    display:flex;
    justify-content: center;
    align-items: center;

 }



div:hover {
    background-color: rgb(150, 223, 132);
    transition-duration: 10s;
    transition-timing-function:ease-out;
    color:rgb(0, 0, 0);
    transform: rotate(180deg);
    transform:scale(2);
    transform: translate(700px);
    
}