*{
    text-align: center;
}

#container{
           height: 900px;
           width: 800px;   
           display: flex;
           flex-direction: row;  
           flex-wrap: wrap;
           justify-content: center;
           align-items:center;
           align-content: center;
           
}

div{
    border-width: 4px;
    border-style: solid;
    border-color: black;

}

#alpha{
       background-color: cornflowerblue;
       height: 160px;
       width: 160px;
       
}

#beta{
       background-color:darkolivegreen;
       height: 160px;
       width: 160px;
      
}

#gamma{
       background-color:hotpink;
       height: 160px;
       width: 160px;
      
}

#delta{
       background-color:crimson;
       height: 160px;
       width: 160px;
       
}

#sigma{
       background-color:darkorange;
       height: 160px;
       width: 160px;
    
         
}

#eta{
       background-color:brown;
       height: 160px;
       width: 160px;
      
         
}

#epsilon{
       background-color:indigo;
       height: 160px;
       width: 160px;
      
         
}